.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 0;
  flex-direction: column;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .lady-image {
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: -1rem; */
  /* margin-bottom: rem; */
  align-self: center;
}


.speed-to-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.speed-to-select a:hover {
  color:  #BC3A80;
}

.card__links {
  font-size: 16px;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    justify-content: center;
  }
}

.iPhone-page-circle-yellow {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: hsla(60, 96%, 56%, 0.507);
  bottom: 33vw;
  right: 18vw;
  z-index: -1;
}

.iPhone-page-circle-pink {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #bb3a7f85;
  bottom: 11vw;
  left: 11vw;
  z-index: -1;
}

/* .iPhone-page-circle-blue {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #4b58ce91;
  top: 9vh;
  left: 30vw;
  z-index: -1;
} */

.iPhone-page-circle-green {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.iPhone-page-circle-green::before {
  content: '';
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(52, 178, 115, 0.459);
}
