.podcast-main-container {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-grow: 1;
  text-align: center;
  /* background-color:#3f4bce; */
}

.box-2 {
  background-color: #141416;
  width: 45vw;
  max-width: 75%;
  min-height: 40vh;
  padding: 2rem 4rem;
  border-radius: 20px;
  border-style: inset;
}

.inside-box-2-soundcloud-iframe {
  justify-content: flex-start;
  width: 38vw;
  align-items: left;
  height: 430px;
}
/* ================================================================ */


.iPhone-page-circle-yellow {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: hsla(60, 96%, 56%, 0.507);
  bottom: 33vw;
  right: 18vw;
  z-index: -1;
}

.iPhone-page-circle-pink {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #bb3a7f86;
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.iPhone-page-circle-blue {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #7A61FF;
  top: 9vh;
  left: 30vw;
  z-index: -1;
}

.iPhone-page-circle-green {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.iPhone-page-circle-green::before {
  content: '';
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(52, 178, 115, 0.459);
}
