.podcast-main-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-grow: 1;
  text-align: center;
  /* background-color:#3f4bce; */
}

.box-1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0 px;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.box-2 {
  background-color: #141416;
  width: 45vw;
  max-width: 75%;
  min-height: 40vh;
  padding: 2rem 4rem;
  border-radius: 20px;
  border-style: inset;
}

.inside-box-2-soundcloud-iframe {
  justify-content: center;
  width: 36vw;
  align-items: center;
  height: 400px;
}
/* ================================================================ */
.iphone-page-circle-0 {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: hsla(60, 96%, 56%, 0.096);
  bottom: 28vw;
  right: 14vw;
  z-index: -1;
}

.iphone-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #bb3a7f1a;
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.iphone-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #2f2c5e70;
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.iphone-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.iphone-page-circle-3::before {
  content: "";
  transform: translate(40%, 40%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(22, 152, 70, 0.057);
}